/*-------------------------------------------------------Elements-------------------------------------------------------*/



body {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

h1 {
  text-align: left;
  margin-top: 4.07rem;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-weight: 900;
  line-height: 1.5;
  font-size: 2rem;
}

label {
  color: #fff;
  font-size: 20px;
  font-family: Ubuntu;
}

hr {
  background: none;
  margin: 0 auto;
  width: 12%;
  height: 0;
  border-bottom: 7px dotted black;
}

/* -------------------------------------------------------ID Selectors------------------------------------------------------- */
#title {
  background-color: #ff4c68;
  padding-bottom: 5%;
}

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;

}

#testimonials {
  background-color: #4FBDBA;
  color: #fff;
}

#press {
  background-color: #4FBDBA;
  padding-bottom: 3%;
}

#pricing {
  padding: 5% 14%;
  margin-bottom: 100px;
}

#contact-us {
  background-color: #24A19C;
}

#footer {
  height: 100px;
  position: relative;
  background-color: #24A19C;
}
/* -------------------------------------------------------Class Selector------------------------------------------------------- */

                                                    /*Bootstrap Classes*/

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: Ubuntu;
  font-weight: 600;
  font-size: 2.5rem;
}

.nav-link {
  font-size: 1.15rem;
  font-weight: lighter;
  margin-right: 30px;
}

.carousel-item {
  padding: 10% 15%;
}

.card {
  padding: 0 12px;
  margin-bottom: 30px;
  border-color: black;
}

.card-text {
  padding-left: 25%;
  text-align: left;
}

.card-header {
  border-bottom-color: grey;
}

.card-title {
  margin-bottom: 10px;
}



/* ```````````````````````````````````````````````````````````````Made Up Classes````````````````````````````````````````````````````````````````` */



.cfl {                /*dog image and brand name footer*/
  padding: 3% 10%;
}

.img-box {              /* title section image div to position */
  position: relative;
}

.iphone {                  /* Iphone image header */
  right: 69px;
  margin-top: 80px;
  transform: rotate(20deg);
  position: absolute;
  height: 500px;
  width: auto;
}

.features-col {            /* Features Column */
  padding: 5%;
}

.fas {
  color: #ef8172;
  margin-bottom: 3.5%;
}
                       /* Fontawesome icon for features hover effect */
.fas:hover {
  color: #ff4c68;
  transition: 0.6s ease;
}

.downloadbtn {            /* Android and iOS download button */
  margin: 5% 3% 0 0;
}

.features-title {
  font-weight: 900;
  font-size: 1.75rem;
}

.features-des {
  color: #8f8f8f;
}

.press-logo {
  width: 15%;
  margin: 1.5rem 1.5rem 3rem;
}

.testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.fa-check {                /* Pricing Single tick */
  color: black;
}

.fa-check-square {         /* Square Check */
  color: black;
  font-weight: 600;
}

.cd-container {            /* Container Gaurding All cards */
  margin-top: 100px;
}

.img-contact {             /* Dog at Contact */
  margin: 0 auto;
  height: 150px;
  width: auto;
  border-radius: 100%;
}

.contact-logo {            /*  Contact Heading of tindog */
  margin-top: 20px;
  font-family: Ubuntu;
  font-weight: 900;
  font-size: 4.5rem;
}

.contact-1 {                /*dog image and brand name footer*/
  text-align: left;
}

.contact-btn {              /*Message send button*/
  margin-top: 20px;
  margin-left: 380px;
}

.copyright {
  margin-top: 500px;
  font-size: 1.25rem;
  font-weight: 900;
}

.sm_icon {                   /* Social Media Icons div at contact */
  font-size: 1.6rem;
  padding-right: 6px;
  border-right: 2px black solid;
}

.social_media {             /* Social Media text at contact */
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

@media (max-width:1200px) {
  .iphone {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }

  #contact-1 {
    text-align: center;
    margin: 0 auto;
  }
}
